<div class="main-container" mat-app-background>
  <div class="button-container">
    <a  mat-raised-button color="primary" routerLink="/room/1">
      Room 1
    </a>
    <a  mat-raised-button color="primary" routerLink="/room/2">
      Room 2
    </a>
    <a  mat-raised-button color="primary" routerLink="/room/3">
      Room 3
    </a>
    <a  mat-raised-button color="primary" routerLink="/room/4">
      Room 4
    </a>
    <a  mat-raised-button color="primary" routerLink="/room/5">
      Room 5
    </a>
  </div>
</div>
